.member-join {
  margin-top: 10rem;

  .member__buttons {
    .member__link {
      background-color: #fff;
      color: #000;
      border: 0.1rem solid #000;
    }
  }
}


@media screen and (min-width: 1280px) {
  .member-join {
    margin-top: 15rem;
  }
}
