.volufiline-purchase {
  margin-top: 8rem;
}

@media screen and (min-width: 1023px) {
  .volufiline-purchase {
    margin-top: 15rem;
  }
}

@media screen and (min-width: 1280px) {
  .volufiline-purchase {
    margin-top: 20rem;
  }
}

.volufiline-purchase__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 3rem;
}

@media screen and (min-width: 767px) {
  .volufiline-purchase__wrapper {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .volufiline-purchase__wrapper {
    gap: 5rem;
  }
}

.volufiline-purchase__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 767px) {
  .volufiline-purchase__content {
    max-width: 50rem;
  }
}

@media screen and (min-width: 992px) {
  .volufiline-purchase__content {
    gap: 5rem;
  }
}

@media screen and (min-width: 1280px) {
  .volufiline-purchase__content {
    max-width: 70rem;
    gap: 5rem;
  }
}

.volufiline-purchase__titles {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 110%;
    margin: initial;
  }
}

@media screen and (min-width: 992px) {
  .volufiline-purchase__titles {
    gap: 3rem;

    h2 {
      font-size: 5.2rem;
      line-height: 110%;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 1680px) {
  .volufiline-purchase__titles {
    gap: 3rem;

    h2 {
      font-size: 6.4rem;
      font-weight: 600;
    }
  }
}

.volufiline-purchase__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-size: 1.4rem;
    line-height: 120%;
    margin: initial;
  }
}

@media screen and (min-width: 992px) {
  .volufiline-purchase__text {
    p {
      font-size: 1.8rem;
      line-height: 133%;
    }
  }
}

.volufiline-purchase__cta {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (min-width: 767px) {
  .volufiline-purchase__cta {
    gap: 1rem;
  }
}

.volufiline-purchase__quantity-wrapper {
  display: flex;
  gap: 0.8rem;
}

.volufiline-purchase__quantity-label {
  line-height: 110%;
  font-size: 1.4rem;
  display: none;
}

@media screen and (min-width: 767px) {
  .volufiline-purchase__quantity-label {
    display: flex;
  }
}

.volufiline-purchase__quantity {
  .product-form__input {
    max-width: initial;
    margin: initial;
    min-width: initial;
  }

  .quantity__label {
    display: none;
  }
}

.volufiline-purchase__buy {
  width: 100%;

  .product-form__buttons {
    max-width: initial;
  }

  .product-form__submit {
    margin-bottom: initial;
  }
}

.volufiline-purchase__image {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;

  img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}

@media screen and (min-width: 767px) {
  .volufiline-purchase__image {
    max-width: initial;
  }
}
